@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quicksand";
  src: url("/src/assets/font/Quicksand/Quicksand-VariableFont_wght.ttf");
}

.card__footer button:hover span {
  color: #cedae3;
}

.card__footer button:hover i {
  color: #cedae3;
  transform: scale(1.15);
}

.card__body .card__desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-container button:hover,
.category-container button.active-button {
  transition: 0.2s ease;
  font-weight: bold;
  background-color: #afbfcb;
  border-color: #afbfcb;
  color: #1d232a;
}

/* accent: "#2d394b", */
/* transcript: "#afbfcb", */
